@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

::-webkit-scrollbar{
    display: none !important;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*{
    font-family: 'Mulish', sans-serif;
}
body{
    background-color: #fcf2e5 !important;
}
*:focus{
    box-shadow: none !important;
}

/* NavBar.jsx CSS */
.navbar-brand{
    font-size: 1.9rem !important;
    color: #865B33 !important;
}
.navbar a{
    font-size: 1.3rem;
}
.active{
    color: #865B33 !important;
    font-weight: bold !important;
}
.navbar a:hover{
    color: #865B33 !important;
}
.cartIcon{
    color: #404040;
    background: #f5a525de;
    width: 39px;
    height: 39px;
    font-size: 21px !important;
    border: 1px solid transparent;
    border-radius: 24%;
    transition: 0.2s ease-in-out;
}
.cartIcon:hover{
    color: #865B33;
    background: transparent;
    border: 1px solid #865B33;
}

@media only screen and (max-width: 991px) {
    .navbar-brand{
        font-size: 1.5rem !important;
    }
}

/* Home page CSS */
#header{
    width: 100%;
    min-height: 74vh;
    margin-top: 70px;
}
#header h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}
#header .colored-text{
    color: #865B33;
}
#header h2{
    color: #484848;
    font-size: 24px;
    line-height: 33px;
}
#header .btn-see-menu{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    color: #865B33;
    border: 2px solid #865B33;
    text-decoration: none;
}
#header .btn-see-menu:hover{
    background-color: #865B33;
    color: #fff;
}

/* Menu Page CSS */
.btn-view-item{
    background: #865B33 !important;
    color: #fff !important;
    border: 1px solid transparent !important;
}
.btn-view-item:hover{
    background: #fff !important;
    color: #865B33 !important;
    border: 1px solid #865B33 !important;
}
.search-bar{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #865B33 !important;
    border-radius: 0px !important;
}

/* Contact Page CSS */
.contact-header{
    margin-top: 0px !important;
    min-height: 70.3vh !important;
}
.contact-header input:focus,
.contact-header textarea:focus{
    border-color: #865B33;
}
.contact-header .input-icon{
    height: 38px;
    width: 40px;
    border: 1px solid #ced4da;
    border-radius: 6px;
}
#send-btn{
    background: #865B33 !important;
    border: 1px solid transparent !important;
    color: #fff !important;
}
#send-btn:hover{
    background: #fff !important;
    color: #865B33 !important;
    border: 1px solid #865B33 !important;
}

/* Login Page CSS */
#auth-form .auth-field{
    border: 1px solid #865B33;
}

/* Cart Item CSS */
.cart-items-container{
    height: 55.1vh;
}
.cart-item{
    background: #f5a525de;
}
.cart-item .cart-item-img img{
    width: 58%;
    border-radius: 12px;
}
.cart-item-quantity input{
    outline: none !important;
}

/* Footer CSS */
.footer-sm-icon{
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50%;
    background-color: #865B33;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer-sm-icon:hover{
    background: #fff !important;
    color: #865B33 !important;
    border: 1px solid #865B33 !important;
}
.colored-text{
    color: inherit;
}
.colored-text:hover{
    color: #865B33 !important;
}


/* Responsiveness CSS */
@media only screen and (max-width: 1230px){
    #header{
        min-height: 70vh;
    }
    .contact-header{
        min-height: 65.3vh !important;
    }
    #cartPage-heading{
        margin-top: 0.7rem !important;
    }
    #cart-items-container-id{
        height: 53vh;
        margin-top: 0.3rem !important;
    }
}

@media only screen and (max-width: 890px){
    .cart-item .cart-item-img img{
        width: 71%;
    }
}

@media only screen and (max-width: 425px){
    #header{
        min-height: 73vh;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .contact-header{
        min-height: 65.3vh !important;
    }
    #cart-price-section{
        align-items: center !important;
        margin-top: 1rem !important;
        margin-bottom: 1.1rem !important;
    }
    #cart-price-section button{
        width: 100% !important;
    }
}

@media only screen and (max-width: 375px){
    #header h1{
        font-size: 36px !important;
    }
    #header h2{
        font-size: 18px;
        line-height: 28px !important;
    }
    .login-header h2{
        font-size: 21px !important;
    }
    #header .btn-see-menu{
        font-size: 14px !important;
        padding: 10px 15px !important;
        letter-spacing: 0.3px !important;
    }
}  
@media only screen and (max-width: 370px){
    #cart-item-id{
        flex-direction: column !important;
        gap: 13px !important;
    }
    #cart-item-id div{
        width: 100% !important;
        text-align: center !important;
        margin-top: 0 !important;
    }
    #cart-item-id .cart-item-delete{
        position: relative;
        background-color: #fff !important;
        border-radius: 9px;
    }
}
