@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    font-family: 'Mulish', sans-serif;
}
body{
    background-color: #fcf2e5 !important;
}
/* NavBar.jsx CSS */
.navbar-brand{
    font-size: 1.9rem !important;
    color: #865B33 !important;
}
.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
}
.active{
    color: #865B33 !important;
    font-weight: bold !important;
}
.navbar a:hover{
    color: #865B33 !important;
}

@media only screen and (max-width: 991px) {
    .navbar-brand{
        font-size: 1.5rem !important;
    }
}

/* Home page CSS */
#header{
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}
#header h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}
#header .brand-name{
    color: #865B33;
}
#header h2{
    color: #484848;
    font-size: 24px;
    line-height: 33px;
}
#header .btn-see-menu{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    color: #865B33;
    border: 2px solid #865B33;
    text-decoration: none;
}
#header .btn-see-menu:hover{
    background-color: #865B33;
    color: #fff;
}
.header-img{
    text-align: right;
}